@import './colors.scss';

.facts {

  .image {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  .citation {
    opacity: 0.60;
    font-size: 12px;
  }
}