@import '../../styles/colors.scss';

.pageHeader {
  background-color: $background-primary;
  box-shadow: 0px 0px 8px 3px $background-primary;
  z-index: 1;
  position: sticky;
  top: 0px;
  ol {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: row;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 16px;
      margin-right: 20px;
      a {
        padding: 10px;
        text-decoration: none;
        color: $text-primary;
      }
    }

    li:hover {
      cursor: pointer;
      border-radius: 15px;
      background-color: $background-primary-hover;
      transition: background-color .2s;
    }

    li:first-child {
      font-size: 32px;
      font-weight: bold;
      span:last-child {
        color:$text-warning;
      }
    }

    .icon {
      margin-right: 5px;
      height: 20px;
      width: 20px;
    }
    @media only screen and (max-device-width: 667px) { 
        li:not(:first-child) {
          visibility: hidden;
        }
    }
  }
}