@import '../../styles/colors.scss';

.pageFooter {
  padding: 10px;
  background-color: $background-primary;
  text-align: center;


  div:last-child {
    margin-top: 5px;
    font-size: 10px;
  }

  span {
    color: $text-warning;
  }
}